/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/

body {
    font-family: 'Poppins', sans-serif !important;
}

.text-gray {
    color: #939393;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Custom CSS to remove the caret icon */
.dropdown-toggle-no-caret::after {
    display: none !important;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -4px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.nav-item.dropdown {
    position: relative;
}
}

.dropdown-item:hover {
    color: #d90429; /* Change the text color to red on hover */
}

.dropdown-item:active {
    color: #d90429; /* Change the text color to red on hover */
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Style des images à l'état normal */
.service-work img {
    transition: transform 0.3s ease; /* Ajoute une transition fluide pour le scaling */
}

/* Effet d'hover */
.service-work:hover img {
    transform: scale(0.6); /* Mise à l'échelle de 110% sur le survol */
}

#index_banner_about {
    background-image: url('./../img/banner-bg-01.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
    min-height: 60vh;
    width: 100%;
}

#index_banner_about .carousel-item {
    min-height: 60vh;
}



#index_banner_about .carousel-inner {
    height: 82vh;
}

#index_banner_about .carousel-indicators li,
#index_banner_about .carousel-indicators.active {
    background-color: #d90429 !important;
}

/* CSS pour les images sur les écrans mobiles */
@media (max-width: 576px) {
    .img-mobile {
        width: 100%;
        height: 100%;
    }

    .img-basus {
        width: 50%;
        max-height: 100%;
    }

    .img-mobile-resp {
        display: none;
    }

    .pic-mobile {
        max-width: 100%;
        height: auto!important;
    }

    .font-size-mobile {
        font-size: 12px; /* Ajustez la taille de police souhaitée pour les écrans mobiles */
        margin-right: 10px;
    }

    .center-mobile {
        display: block;
        margin: 0 auto;
        float: none;
    }

    .text-mobile {
        font-size: 14px;
    }

    .header-mobile {
        font-size: 28px;
    }

    .header1-mobile {
        font-size: 30px;
    }

    .header3-mobile {
        font-size: 20px;
    }

    .header-mobile-center {
        text-align: center;
    }

    .titre-mobile {
        font-size: 14px;
    }

    .first-section {
        margin-top: 50px!important;
        margin-bottom: -80px!important;
    }

    .second-section {
        margin-bottom: 0px!important;
    }

    .strong-mobile {
        font-size: 18px!important;
    }

    .btn-mobile {
        width: 300px;
    }
}
