/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/

.text-gray {
    color: #939393;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Custom CSS to remove the caret icon */
.dropdown-toggle-no-caret::after {
    display: none !important;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -4px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

/* Custom CSS for the dropdown arrow */
.dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -6px;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1;
    margin-top: 5px;
}

.dropdown-item:hover {
    color: #d90429; /* Change the text color to red on hover */
}

.dropdown-item:active {
    color: #d90429; /* Change the text color to red on hover */
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


