.contanier {
    width: 90%;
    margin: auto;
}

section {
    padding: 90px 0 40px;
}

.sec-top {
    text-align: center;
    margin-bottom: 40px;
}

.sec-top h1 {
    color: #1c1e22;
    font-size: 40px;
}

.sec-top h1 span {
    color: #EF233C;
}

.boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxs .box {
    width: 24%;
    margin-bottom: 50px;
}

.services {
    background-color: #f0f4f9;
    text-align: center;
}

.services .boxs .box {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px rgba(128, 112, 22, 0.2);
    position: relative;
    top: 0;
}

.services .boxs .box:hover {
    top: -25px;
}

.services .boxs .box i {
    color: #EF233C;
    font-size: 50px;
    margin-bottom: 20px;
}

.services .boxs .box h3 {
    color: #1c1e22;
    font-size: 24px;
    margin-bottom: 20px;
}

.services .boxs .box p {
    color: #444;
    margin-bottom: 50px;
}

span {
    color: #EF233C;
}


/* start Portfolio */

.portfolio .boxs .box {
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.portfolio .boxs .box img {
    width: 100%;
    height: 100%;
}

.portfolio .boxs .box:hover img {
    transform: scale(1.2);
    rotate: -4deg;
    transition: 0.6s ease-out;
}

.portfolio .boxs .box .box-hover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #111111b9;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    opacity: 0;
}

.portfolio .boxs .box:hover .box-hover {
    opacity: 1;
}

.portfolio .boxs .box .box-hover span {
    color: #fff;
    font-size: 25px;
}